* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(90deg,#282a36, #1a1c24 );
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #333;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    padding-bottom: 3px;
}

header a:hover{
    color: #50fa7b;
    transition: color 1500ms;
}
/* Botão Voltar */
.voltar a {
    color: #50fa7b;
    position: absolute;
    left: 120px;
    top: 25px;
    cursor: pointer;
}

.voltar a:hover{
    color: #50fa7a98;
    transition: color 1000ms;
}
/* Conteúdo Página Sobre */
.sobre_img,
.sobre {
    align-items: center;
    text-align: center;
    padding: 32px;
    color: white;
}

.sobre_img_contato,
.sobre_contato {
    padding: 32px;
    text-align: center;
    color: white;
}


.sobre_img img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #50fa7b;
    margin-bottom: 32px;
}

.sobre_img_contato img {
    width: 250px;
    border-radius: 50%;
    border: 5px solid #50fa7b;
    margin-bottom: 10px;
}

.sobre_escrita h1{
    font-size: 42px;
    line-height: 52px;
    padding-bottom: 10px;
}

.sobre_escrita h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-bottom: 10px;
    opacity: 0.7;
}


.sobre h1 {
    font-size: 42px;
    line-height: 52px;
}

.sobre h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: normal;
    margin-top: 8px;
    opacity: 0.7;
}

.sobre p {
    max-width: 500px;
    margin: 8px auto;
    font-size: 22px;
}
/* Conteúdo Página de Contatos */
.contatos {
    text-align: center;
    padding-bottom: 25px;
}

.contatos a {
    color:#50fa7b;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 25px;
    line-height: 30px;
}

.contatos a:hover {
    color: #50fa7a98;
    transition: color 1000ms;
}

/* Links das páginas */
.links_rodape {
    text-align: center;
    
}

.links_rodape a{
    background-color: #50fa7b ;
    border-radius: 25px;
    text-decoration: none;
    color: #282a36;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin: 0 50px;
    padding: 10px 18px;
}

.links_rodape a:hover {
    background-color: #50fa7a8e ;
    transition: background-color 1000ms ;
}

/*--- Cards ---*/
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.card {
    background-color: #50fa7b;
    border: 3px solid #50fa7b;
    border-radius: 20px;
    cursor: pointer;
}

.card_img img {
    max-height: 133.58px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card_conteudo{
    text-align: center;
}

.card .card_conteudo p {
    font-size: 22px;
}

.card_conteudo,
.card_info{
    font-size: 15px;
    font-weight: bold;
    color: #282a36 ;
    padding: 24px;
}

.card_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card_link {
    font-size: 13px;
    background-color: #50fa7b;
    filter: brightness(90%);
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
    color: #282a36;
}

/*--- Modal ---*/


.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;

    background-color: #11111140;
    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(100%);
}

.modal {
    background-image:  linear-gradient(90deg,#282a36ef, #1a1c24ef );
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
    border: 5px solid #50fa7b;
    border-radius:25px;
    color: white;
}

.modal .close-modal {
    color: #50fa7b;
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

/*--- Modal Ativo ---*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    text-align: center;
    padding: 10%;
}

/* Suporte ao Blur nos Navegadores*/

@supports ((backdrop-filter: blur(20px) saturate(100%)) || (backdrop-filter: blur(20px) saturate(100%))) {
    .modal {
        background-color: #11111140;
        backdrop-filter: blur(20px) saturate(100%);
        -webkit-backdrop-filter: blur(20px) saturate(100%);
    }
}